<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>



<img src="/webroot/img/av.PNG" class="img-circle"  height="200px" width="200px">

    <p><em>Denis Raigorodskiy</em></p>
    <p><em>Padavan</em></p>

<div id = "summary">
    <p>Мне 19 лет.Получаю большое удовольствие от программирования,свободное время стараюсь уделять изучению новому.Считаю что дошел до той черты когда нужно идти под руководство опытного джедая,дабы полностью раскрыть свою силу:)</p>
    <br/>
    <p>Учусь в Киевском торгово-экономическом университете на факультете Экономической кибернетики,за время обучения познакомился с MySQL и основами web-программирования.Был замечен на курсах по PHP,но в связи  с финансовыми трудностями не дошел до конца.В целом для обучения использую общепризнанные книги и ресурсы.</p>
    <p>Люблю фильмы про мафию,теннис,футбол.</p>
    <h3>Что я познал?</h3>
    <ul>
        <li>PHP,OOP,MVC</li>
        <li>MySQL,MySQLi</li>
        <li>JavaScript,jQuery,AJAX</li>
        <li>HTML</li>
        <li>CSS,LESS,Bootstrap</li>
        <li>Git,GitHub</li>
        <li>PhpStorm, XAMPP</li>
    </ul>
<h3>Моя цель?</h3>
    <p>Получить должность <b>Junior/trainee PHP developer</b>.Учится,развиваться,учится.Хочу выполнять свою работу правильно и качественно. Огромное желание попасть к наставнику,попасть в команду профи.</p>
</div>

</body>
</html>