<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
</head>
<body>
<div>
    <em><p>Примеры моего кода вы можите посмотреть на GitHub</p></em>
</div>
<div class="container-fluid">
    <a href="https://github.com/RokoDeveloper" target="_blank"> <img id = "cat" src="/webroot/img/github-icon.png" alt="" width="50px" height="50px"/></a>
</div>
<div id = "click">
    <p>Click kitty</p>
</div>
<script src="/webroot/js/cat.js">
   </script>
</body>
</html>